In [46]:
# Importing Necessary modules

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.preprocessing import LabelEncoder

In [47]:
import warnings
warnings.filterwarnings('ignore')

In [48]:
## Reading train and test CSV files

train_cont=pd.read_csv('Train_contacts.csv')
train_res=pd.read_csv('Train_resolution.csv')
test_cont=pd.read_csv('Test_contacts.csv')
test_res=pd.read_csv('Test_resolution.csv')

In [49]:
## Splitting Date columns into Date , Month and Year columns

train_cont['Month'],train_cont['Date'],train_cont['Year']=train_cont['DATE'].str.split('/').str
train_cont.drop('DATE',axis=1,inplace=True)

train_res['Month'],train_res['Date'],train_res['Year']=train_res['Date'].str.split('/').str

test_cont['Month'],test_cont['Date'],test_cont['Year']=test_cont['Date'].str.split('/').str

test_res['Month'],test_res['Date'],test_res['Year']=test_res['Date'].str.split('/').str

In [50]:
## Creating dummies for CONTACT.TYPE for train_cont and concatenating

train_cont_dummy=pd.get_dummies(train_cont['CONTACT.TYPE'],prefix='type')
train_cont_dummy.drop('type_Tweet - Input',axis=1,inplace=True)

train_cont=pd.concat([train_cont,train_cont_dummy],axis=1)
train_cont.drop('CONTACT.TYPE',axis=1,inplace=True)

In [51]:
## Creating dummies for CONTACT.TYPE for test_cont and concatenating

test_cont_dummy=pd.get_dummies(test_cont['CONTACT.TYPE'],prefix='type')
test_cont_dummy.drop('type_Tweet - Input',axis=1,inplace=True)

test_cont=pd.concat([test_cont,test_cont_dummy],axis=1)
test_cont.drop('CONTACT.TYPE',axis=1,inplace=True)

In [53]:
## Creating dummies for Category for train_res and concatenating

train_res_dummy = pd.get_dummies(train_res['Category'],prefix='cat')
train_res_dummy.drop('cat_Non Compliance',axis=1,inplace=True)

train_res = pd.concat([train_res,train_res_dummy],axis=1)
train_res.drop(['Category'],axis=1,inplace=True)

In [54]:
## Converting into labels for Subject for train_res and concatenating

l = LabelEncoder().fit(train_res['Subject'])
train_res['Sub'] = l.fit_transform(train_res['Subject'])
train_res.drop('Subject', axis=1, inplace=True)

In [55]:
## Creating dummies for Category for test_res and concatenating

test_res_dummy = pd.get_dummies(test_res['Category'],prefix='cat')
test_res_dummy.drop('cat_Non Compliance',axis=1,inplace=True)

test_res = pd.concat([test_res,test_res_dummy],axis=1)
test_res.drop(['Category'],axis=1,inplace=True)

In [56]:
## Converting into labels for Subject for test_res and concatenating

test_res['Sub'] = l.fit_transform(test_res['Subject'])
test_res.drop('Subject', axis=1, inplace=True)

In [66]:
train_cont.head()

,Contacts,Month,Date,Year,type_Call - Input,type_Fax - Input,type_Fax Acknowledgement - Input,type_Installation Report - Input,type_Internal Management,type_Mail - Input,type_Mail - Recieved,type_Visit,type_Web - Input
0,84,1,1,2010,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,11,1,1,2010,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,236,1,2,2010,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,21,1,2,2010,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,1,1,2,2010,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [61]:
test_cont.head()

,Date,Contacts,ID,Month,Year,type_Call - Input,type_Fax - Input,type_Fax Acknowledgement - Input,type_Installation Report - Input,type_Internal Management,type_Mail - Input,type_Mail - Recieved,type_Visit,type_Web - Input
0,1,NaN,1,1,2017,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,2,NaN,2,1,2017,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,3,NaN,3,1,2017,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,4,NaN,4,1,2017,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,5,NaN,5,1,2017,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [62]:
train_res.head()

,Date,Resolution,Month,Year,cat_Commercial Claim,cat_Consultation,cat_Request,cat_Tecnical Claim,Sub
0,1,1,8,2010,0.0,1.0,0.0,0.0,7
1,1,1,8,2010,0.0,0.0,0.0,1.0,13
2,1,1,8,2010,0.0,0.0,0.0,1.0,13
3,1,1,8,2010,0.0,0.0,0.0,1.0,13
4,1,1,8,2010,0.0,1.0,0.0,0.0,33

In [63]:
test_res.head()

,Date,Resolution,ID,Month,Year,cat_Commercial Claim,cat_Consultation,cat_Request,cat_Tecnical Claim,Sub
0,1,NaN,1,1,2017,0.0,0.0,0.0,1.0,14
1,2,NaN,2,1,2017,0.0,0.0,0.0,1.0,14
2,3,NaN,3,1,2017,0.0,0.0,0.0,1.0,14
3,4,NaN,4,1,2017,0.0,0.0,0.0,1.0,14
4,5,NaN,5,1,2017,0.0,0.0,0.0,1.0,14

In [195]:
from sklearn.cross_validation import train_test_split
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import AdaBoostRegressor, GradientBoostingRegressor, RandomForestRegressor
from sklearn.cross_validation import cross_val_score
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [255]:
X_cont = train_cont.drop(['Contacts'], axis=1)
Y_cont = pd.DataFrame((train_cont['Contacts']+1).map(np.log10), columns=['Contacts'])
Xtrain, Xtest, Ytrain, Ytest = train_test_split(X_cont, Y_cont, test_size=0.30, random_state=42)

In [256]:
lr = LinearRegression().fit(Xtrain, Ytrain)

In [258]:
print 'Train'
print np.sqrt(mean_squared_error(pd.DataFrame(pow(10,lr.predict(Xtrain))-1, columns=['Predicted']), (pow(10,Ytrain)-1)))
print 'Test'
print np.sqrt(mean_squared_error(pd.DataFrame(pow(10,lr.predict(Xtest))-1, columns=['Predicted']), (pow(10,Ytest)-1)))

Train
996.146229101
Test
984.028575515

In [309]:
X_cont_test = pd.DataFrame(test_cont.drop(['Contacts', 'ID'], axis=1))

In [308]:
t1 = test_cont['ID']
t2 = pd.DataFrame((pow(10,lr.predict(X_cont_test))-1), columns=['Contacts'])
t = pd.concat([t1, t2], axis=1)
t.to_csv('Contacts.csv', index=0)

In [166]:
dt = DecisionTreeRegressor().fit(Xtrain, Ytrain)

In [260]:
print 'Train'
print np.sqrt(mean_squared_error(pd.DataFrame(pow(10,dt.predict(Xtrain))-1, columns=['Predicted']), (pow(10,Ytrain)-1)))
print 'Test'
print np.sqrt(mean_squared_error(pd.DataFrame(pow(10,dt.predict(Xtest))-1, columns=['Predicted']), (pow(10,Ytest)-1)))

Train
429.279879116
Test
1059.44528287

In [169]:
rf = RandomForestRegressor().fit(Xtrain, Ytrain)

In [261]:
print 'Train'
print np.sqrt(mean_squared_error(pd.DataFrame(pow(10,rf.predict(Xtrain))-1, columns=['Predicted']), (pow(10,Ytrain)-1)))
print 'Test'
print np.sqrt(mean_squared_error(pd.DataFrame(pow(10,rf.predict(Xtest))-1, columns=['Predicted']), (pow(10,Ytest)-1)))

Train
693.502374539
Test
1016.21096024

In [171]:
ad = AdaBoostRegressor().fit(Xtrain, Ytrain)

In [262]:
print 'Train'
print np.sqrt(mean_squared_error(pd.DataFrame(pow(10,ad.predict(Xtrain))-1, columns=['Predicted']), (pow(10,Ytrain)-1)))
print 'Test'
print np.sqrt(mean_squared_error(pd.DataFrame(pow(10,ad.predict(Xtest))-1, columns=['Predicted']), (pow(10,Ytest)-1)))

Train
1058.94325514
Test
1047.73349581

In [173]:
gbm = GradientBoostingRegressor().fit(Xtrain, Ytrain)

In [263]:
print 'Train'
print np.sqrt(mean_squared_error(pd.DataFrame(pow(10,gbm.predict(Xtrain))-1, columns=['Predicted']), (pow(10,Ytrain)-1)))
print 'Test'
print np.sqrt(mean_squared_error(pd.DataFrame(pow(10,gbm.predict(Xtest))-1, columns=['Predicted']), (pow(10,Ytest)-1)))

Train
992.884589243
Test
984.006120972

In [222]:
pd.concat([pd.DataFrame(pow(10,gbm.predict(Xtrain))-1, columns=['Predicted']), 
           (pow(10,Ytrain)-1).reset_index().iloc[:,1]], axis=1).to_csv('cont.csv')

In [224]:
print np.sqrt(mean_squared_error(pd.DataFrame(pow(10,gbm.predict(Xtrain))-1, columns=['Predicted']), 
           (pow(10,Ytrain)-1).reset_index().iloc[:,1]))
print np.sqrt(mean_squared_error(pd.DataFrame(pow(10,gbm.predict(Xtest))-1, columns=['Predicted']), 
           (pow(10,Ytest)-1).reset_index().iloc[:,1]))

992.884589243
984.006120972

In [225]:
print np.sqrt(mean_squared_error(pd.DataFrame(pow(10,lr.predict(Xtrain))-1, columns=['Predicted']), 
           (pow(10,Ytrain)-1).reset_index().iloc[:,1]))
print np.sqrt(mean_squared_error(pd.DataFrame(pow(10,lr.predict(Xtest))-1, columns=['Predicted']), 
           (pow(10,Ytest)-1).reset_index().iloc[:,1]))

996.146229101
984.028575515

In [226]:
print np.sqrt(mean_squared_error(pd.DataFrame(pow(10,ad.predict(Xtrain))-1, columns=['Predicted']), 
           (pow(10,Ytrain)-1).reset_index().iloc[:,1]))
print np.sqrt(mean_squared_error(pd.DataFrame(pow(10,ad.predict(Xtest))-1, columns=['Predicted']), 
           (pow(10,Ytest)-1).reset_index().iloc[:,1]))

1058.94325514
1047.73349581

In [227]:
X_cont = train_cont.drop(['Contacts'], axis=1)
Y_cont = pd.DataFrame(train_cont['Contacts'], columns=['Contacts'])
Xtrain, Xtest, Ytrain, Ytest = train_test_split(X_cont, Y_cont, test_size=0.30, random_state=42)

In [228]:
lr1 = LinearRegression().fit(Xtrain, Ytrain)

In [232]:
print np.sqrt(mean_squared_error(lr.predict(Xtrain), Ytrain))
print np.sqrt(mean_squared_error(lr.predict(Xtest), Ytest))

1141.56701041
1127.01434693

In [234]:
X_res = train_res.drop(['Resolution'], axis=1)
Y_res = pd.DataFrame((train_res['Resolution']+1).map(np.log10), columns=['Resolution'])
Xtrain_r, Xtest_r, Ytrain_r, Ytest_r = train_test_split(X_res, Y_res, test_size=0.30, random_state=42)

In [235]:
lr_r = LinearRegression().fit(Xtrain_r, Ytrain_r)

In [236]:
print np.sqrt(mean_squared_error(pd.DataFrame(pow(10,lr_r.predict(Xtrain_r))-1, columns=['Predicted']), 
           (pow(10,Ytrain_r)-1).reset_index().iloc[:,1]))
print np.sqrt(mean_squared_error(pd.DataFrame(pow(10,lr_r.predict(Xtest_r))-1, columns=['Predicted']), 
           (pow(10,Ytest_r)-1).reset_index().iloc[:,1]))

15.372322682
15.0161491774

In [241]:
X_res = train_res.drop(['Resolution'], axis=1)
Y_res = pd.DataFrame(train_res['Resolution'], columns=['Resolution'])
Xtrain_r, Xtest_r, Ytrain_r, Ytest_r = train_test_split(X_res, Y_res, test_size=0.30, random_state=42)

In [242]:
lr_r = LinearRegression().fit(Xtrain_r, Ytrain_r)

In [243]:
print np.sqrt(mean_squared_error(lr_r.predict(Xtrain_r), Ytrain_r))
print np.sqrt(mean_squared_error(lr_r.predict(Xtest_r), Ytest_r))

15.2974378698
14.9452498473

In [310]:
X_res_test = pd.DataFrame(test_res.drop(['Resolution', 'ID'], axis=1))

In [312]:
t1 = test_res['ID']
t2 = pd.DataFrame(lr_r.predict(X_res_test), columns=['Resoltuion'])
t = pd.concat([t1, t2], axis=1)
t.to_csv('Resolution.csv', index=0)